### Each directory and file, which starts with dot
.*
### But not Git ignore and Travis file
!.gitignore
!.travis.yml

### IntelliJ Idea
#.idea/
#*.iml
#*.ipr
#*.iws

### Java Class Files
*.class

### Package Files
# *.jar
# *.war
# *.ear

### Gradle
.gradle/
#build/

### Compiled Lisp
compiled-lisp/