### Each directory and file, which starts with dot
.*
### But not Git ignore file
!.gitignore

### IntelliJ Idea
#.idea/
#*.iml
#*.ipr
#*.iws
out/

### Java Class Files
*.class

### Package Files
# *.jar
# *.war
# *.ear

### Gradle
.gradle/
build/

### Compiled Lisp
compiled-lisp/